body {font-family: Arial, Helvetica, sans-serif;
      background-color: white;}
#body{background-color: #E8E8E8;
}
#mynavbar{
  font-size: 16px;
  margin:0;
  padding: 5px 5px;
  overflow-x: hidden;
}
/* Full-width input fields */
#form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
#btn {
    background-color: #52658F;
    color: #E8E8E8;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

#btn:hover {
    opacity: 0.8;
}

#btn2{
  background-color: #52658F;
  color: #E8E8E8;
  text-align: center;
  font-size: 18px;
  padding: 8px;
  width: 200px;
  cursor: pointer;
  margin: 5px;
}

#btn2:hover{
  background-color: #52658F;
  color:#E8E8E8;
}
/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.imgcontainer2 {
    padding-left: 200px;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar2{
  width:80%;
  border-radius: 50%;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

#avatar{
  width:20%;
  border-radius:50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
.button4{
  display: inline-block;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid #333A56;
  color: #333A56;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  width: 120px;
  cursor: pointer;
  margin: 5px;
  margin-left: 280px;
}
.button4:hover {
  background-color: #52658F;
  color:#E8E8E8;
}
.button2 {
  display: inline-block;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid #333A56;
  color: #333A56;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  margin: 5px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}
.button2:hover {
  background-color: #52658F;
  color:#E8E8E8;
}
.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}
.button3{
  display: inline-block;
  border-radius: 4px;
  background-color: #52658F;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  border: 2px solid #52658F;
}
.button3:hover{
  background-color: #e8e8e8;
  color: #52658F;
}
.button5{
  display: inline-block;
  border-radius: 4px;
  background-color: #52658F;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  width: 335px;
  border: 2px solid #52658F;
}
.button5:hover{
  background-color: #e8e8e8;
  color: #52658F;
}

#title{
  color: #333A56;
  font-size: 40px;
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#li {
    float: left;
}

#li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: grey;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 20px 30px;
	margin-top: 10px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}
input[type=text], input[type=password] {
    width: 60%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #e8e8e8;
}
