<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="stylesheet.css">
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <ul id='ul'>
  <li id="li"><a href="{% url 'index' %}" class = "active">Home</a></li>
  <li id="li"><a href="#news">Heatmap</a></li>
  <li id="li"><a href="report.html">Reports</a></li>
  <li id="li"><a href="#contact">About Us</a></li>
  <li id="li"><a href="#contact">Contact Us</a></li>
  <li id="li" style="float:right"><a href ="#" onclick="document.getElementById('id01').style.display='block'" style="width:auto; float:right;">Login</a></li>
</ul>

<div id="id01" class="modal">

  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <br><img src="avatar2.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="email"><b>Email</b></label>
      <input id ="form"type="text" placeholder="Enter Email" name="email">
      <label for="psw"><b>Password</b></label>
      <input id ="form"type="password" placeholder="Enter Password" name="psw">
      <br>

      <button id ='btn' type="submit">Login</button>
    </div>
  </form>
</div>
<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<div class = "container">
<h2> National Wastewater Drug Monitoring Program </h2>

<h4> Introduction </h4>
<p align="justify"> This is the fourth in a series of nine National Wastewater Drug Monitoring Program reports
to be publicly released by the Australian Criminal Intelligence Commission. The program
aims to deliver on the recommendations of the Final Report of the National Ice Taskforce.
It is the first program to provide leading-edge, coordinated national research and
intelligence on illicit and licit drugs, with a specific focus on methylamphetamine and
11 other substances.
In 2016, the Australian Criminal Intelligence Commission received $3.6 million in funding
under the Commonwealth Proceeds of Crime Act 2002 to deliver the National Wastewater
Drug Monitoring Program over three years. The program provides a measure, rather than
an estimate, of the use of a number of illicit drugs, as well as licit drugs including nicotine,
alcohol and some pharmaceuticals. It gives us valuable insight into the trends and emerging
issues of drug consumption across Australia and can identify new sources of threat.
The findings presented in the nine reports will give law enforcement, policy, regulatory and
health agencies additional and more objective data on the use of methylamphetamine and
other drugs. This data creates opportunities to shape the response to both the demand and
the supply side of the illicit drug market, particularly in high-use areas. <p>
<br>

<img src="hpimage1.jpg" alt="snapshot1" width="40%"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="hpimage2.jpg" alt="snapshot2" width="40%">

<h4> Implementation </h4>
<p align="justify"> The Australian Criminal Intelligence Commission has contracted the University of
Queensland, and through it the University of South Australia, to deliver the program.
Relationships have been built between the universities and the operators of wastewater
facilities across Australia to permit the collection and analysis of samples. <p>
<h5> Wastewater analysis from the National Wastewater Drug Monitoring Program
measured the presence of the following substances:
<ul>
  <li>methylamphetamine  </li>
  <li>amphetamine  </li>
  <li>cocaine  </li>
  <li>3,4-methylenedioxymethylamphetamine (MDMA)  </li>
  <li>3,4-methylenedioxyamphetamine (MDA)  </li>
  <li>heroin </li>
  <li>mephedrone  </li>
  <li>methylone  </li>
  <li>oxycodone  </li>
  <li>fentanyl  </li>
  <li>alcohol  </li>
</ul></h5>
<p align="justify"> The first five substances are widely recognised illicit stimulants. Heroin is an illicit
depressant. The next two substances, mephedrone and methylone, are illicit synthetic
stimulants and are described as new psychoactive substances (NPS).2 Oxycodone and
fentanyl are opioid pharmaceuticals with therapeutic application, but are also diverted to
the illicit market. Nicotine and alcohol are licit drugs. The Australian Criminal Intelligence
Commission will continue to review the appropriateness of the monitored substances with
its partners, stakeholders and the universities.
Both contracted universities will monitor wastewater at approximately 50 sites across
Australia until the end of 2019. It is the intention of the program that capital city sites
cover all state and territory capital cities, with the remaining sites covering regional cities
and towns. Capital city sites will be monitored for the duration of the program, while the
remaining sites will be reassessed periodically. Sites were selected to permit the Australian
Criminal Intelligence Commission to provide data on major population areas, sites of actual
or potential concern from a drug use perspective, and sites where the local authorities
have established relationships with the two universities. In December 2017, 45 wastewater
treatment plants participated nationally. </p>

<h5> The breakdown of sites by jurisdiction for December 2017 is as follows:</h5>
<img src="hpimage3.jpg" alt="snapshot3" width="30%">

<p align="justify"> The Australian Criminal Intelligence Commission will continue engaging with all states
and territories in an attempt to secure their ongoing participation in sampling for future
reports. Participation from all states and territories is vital to informing our understanding
of the national picture of drug use and demand. In the event that one or more states and
territories decide not to participate in the national program in the future, the Australian
Criminal Intelligence Commission will identify replacement sites from participating states
and territories to ensure that the largest possible segment of the national population is
sampled. Accordingly, the location of sites within and between states and territories may
change over the three years of the contract. </p>
</div>

<footer class="footer-distributed">

      <div class="footer-right">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

      <div class="footer-left">

        <p class="footer-links">
          <a href="#">Home</a>
          ·
          <a href="#">Heatmap</a>
          ·
          <a href="#">About</a>
          ·
          <a href="#">Contact Us</a>
        </p>

        <p>Copyright &copy; 2018</p>
      </div>

</footer>
</body>
</html>
